.bigger-flex-column {
  display: flex;
  flex-direction: row;
  
  padding-top: 5vh;
  padding-left: 5vh;

}
.flex-01 {
  display: flex;
  flex-direction: column;
  padding-bottom: 25%;
}
.nav-class {
  display: flex;
  justify-content: space-between; /* Distribute links evenly */
  justify-content: center;
  align-self: center;
}
@media only screen and (max-width: 480px) {

  .header-container {
    display: grid;
    grid-template-rows: 0.2fr 0.3fr 0.3fr;
    align-items: center;
    padding: clamp(5px, 10px, 15px); /* Min: 5px, Max: 15px */
  }

  .logo-container {
    padding: 1vh;
    background-color: #e0761e;
    width: 13vh;
    
  }
  nav {
    width: 70%;
    font-size: 1rem;
  }

  .login-signup {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .login-btn,
  .signup-btn {
    font-size: 0.8rem; /* Adjust as needed */
    padding: 0.5rem;
    flex-grow: 1;
  }

  .image-1 {
    margin-left: 0.8rem;
    width: 80%;
    height: 90%;
  }

  .logo {
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: 20px;
  }

  .h4-1 {
    font-size: 1rem;
    font-family: "poppings";
    font-weight: 100;
    letter-spacing: 4.8px;
    margin: 0.5rem 0; /* Added vertical margin */
  }

  .h3-1 {
    margin-top: 1rem; /* Reduced margin for smaller screens */
    color: blue;
    font-size: 1rem; /* Adjust as needed */
    font-family: 'Copperplate Gothic Bold', sans-serif;
  }

  .buy-btn {
    padding: 0.5rem;
    background-color: #e0761e;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 0.8rem; /* Adjust as needed */
    width: fit-content; /* Use flexible width */
  }
}
