body {
  width: 100%;
  height: 100%;
  background-color: grey;

}
/* 
.page-container {
  display:flex;
  flex-direction: column;

  background-color: white;
  max-width: 90%;
  margin-left: 5%;
  margin-top: 20%;
  margin-bottom: 30%;

}
*/


.bigger-flex-column {
  display: flex;
  flex-direction: row;
  
  padding-top: 5vh;
  padding-left: 5vh;

}
.flex-01 {
  display: flex;
  flex-direction: column;
  padding-bottom: 25%;
  
}
.nav-class {
  display: flex;
  justify-content: space-between; /* Distribute links evenly */
  justify-content: center;
  align-self: center;
}

@media only screen and (max-width: 480px) {

  /* Styles for mobile */
  .header-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    align-items: center;
   
    background-color: aqua;
  }
  .page-container {
    display:flex;
    flex-direction: column;
  
    background-color: white;
    max-width: 100%;
    margin-left: 5%;
    margin-top: 20%;
    margin-bottom: 30%;
  
  }
  .logo-container {
  
    width: 11vh;
    background-color: bisque;
    
  }
  .logo{
    font-size: 2vh;
    font-weight: 100;
    flex-shrink: 300vh;
    
  }
  .image-1 {
    margin-left: 5vh;
    width: 80%;
    height: 90%;
  }


  nav {
    font-size: 1.3vh;
  }


  .login-btn {
    font-size: 100%;
    max-width: 50%;
  }
  
  .flex-01{
  
    margin-left: -2vh;
     width: 350%;
   }
   .login-btn,
   .signup-btn {
    flex-grow: 1;
    font-size: 2vh;
    padding: 1vh;
    width: 10vh;
    
  }
  .login-signup {
    display: flex;
    
    justify-content: space-between;
    
  }

  

  .image-1 {
    margin-left: 5vh;
    width: 80%;
    height: 90%;
  }

  .h4-1 {
    font-size: 20px;
    font-family: "poppings";
    font-weight: 100;
    letter-spacing: 4.8px;
  }
  .h3-1 {
    margin-top: 60%;
    color: blue;
    font-size: medium;
    font-family: 'Copperplate Gothic Bold', sans-serif;
  }

  .buy-btn {
    padding: 15px;
    background-color: #e0761e;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 20vh;
  }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .page-container {
    display:flex;
    flex-direction: column;
  
    background-color: white;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 20%;
    margin-bottom: 30%;
  
  }
  /* Styles for tablets */
  .header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    
  }
  .logo-container {
    padding: 1vh;
   
  }
  .logo{
    font-size: x-large;
  }
  .image-1 {
    margin-left: 5vh;
    width: 80%;
    height: 90%;
  }


  nav {
    font-size: 2.5vh;
    margin-right: 3vh;
  }

  
  .flex-01{
  
   margin-left: -2vh;
    width: 300%;
  }
  .login-btn,
  .signup-btn {
    flex-grow: 1;
    font-size: 2vh;
    padding: 1vh;
  }



  .login-signup {
    display: flex;
    justify-content: space-between;
    
  }



 
  .h4-1 {
    font-size: 20px;
    font-family: "poppings";
    font-weight: 100;
    letter-spacing: 4.8px;
  }

  .h3-1 {
    margin-top: 60%;
    color: blue;
    font-size: medium;
    font-family: 'Copperplate Gothic Bold', sans-serif;
  }

  .buy-btn {
    padding: 15px;
    background-color: #e0761e;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 20vh;
  }
}

@media only screen and (min-width: 768px) {
  .page-container {
    display:flex;
    flex-direction: column;
  
    background-color: white;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 20%;
    margin-bottom: 30%;
  
  }
  .header-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    
  }

  .logo-container {
    padding: 1vh;
   
  }
  .logo{
    font-size: 5vh;
  }
  nav {
    font-size: 1rem;
  }

  .login-signup {
    display: flex;
    justify-content: space-between;
    
  }
  .flex-01{
   
    width: 200%;
  }
  .login-btn,
  .signup-btn {
    flex-grow: 1;
    font-size: medium;
    padding: 1vh;
  }

  .image-1 {
    
    width: 90%;
    height: 90%;
  }

  .h4-1 {
    font-size: 20px;
    font-family: "poppings";
    font-weight: 100;
    letter-spacing: 4.8px;
  }

  .h3-1 {
    margin-top: 60%;
    color: blue;
    font-family: 'Copperplate Gothic Bold', sans-serif;
  }

  .buy-btn {
    padding: 15px;
    background-color: #e0761e;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 20vh;
  }
}


nav a {

  padding: 4px;
  text-decoration: none;
  color: black;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  
  background-color: #c77e10;
  border: none;

 
  border-radius: 25px;
  
}

.login-btn {
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  align-self: center;
  border-radius: 20px;
  
 
}

.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}



.buy-btn,
.signup-btn,
.login-btn:hover {
  cursor: pointer;
}