body {
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 90%;
  background-color: white;
  margin-left: 150%;
  margin-right: 150%;
  margin-top: 20%;
  margin-bottom: 20%;
}
.logo {
  display: flex;
  align-self: center;
  padding-left: 40px;
  width: 20%;
  color: #000;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-container {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;
  width: 100%;
}
.header-container>* {
  flex: 1;
  padding-right: 10px;
}
.header-container>*:first-child {
  margin-left: 0;
}
.header-container>*:last-child {
  margin-right: 0;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
nav a {
  display: flex;
  align-self: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.signup-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  background-color: #c77e10;
  border: none;
  width: 30%;
  margin: 5px;
  border-radius: 25px;
  height: 15%;
}
.login-btn {
  padding: 10px;
  border: none;
  background-color: white;
  align-self: center;
  border-radius: 20px;
  width: 30%;
  height: 15%;
  margin: 5px;
}
.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.bigger-flex-column {
  display: flex;
  height: 65%;
  
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.h4-1 {
  display: flex;
  width: 75%;
  height: 45%;
  flex-shrink: 0;
  
  font-family: "poppings";
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 4.8px;
}
.h3-1 {
  display: flex;
  width: 100%;
  margin-top: 20%;
 
  color: blue;
  font-family: 'Copperplate Gothic Bold', sans-serif;
}

.flex-02 img {
  display: flex;
  width: 40vw;
  height: 500px;
}
.buy-btn {
  display: flex;
  padding: 15px;
  margin-top: 0%;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #c77e10;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}